
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运维数据配置中心</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("运维数据配置中心", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a href="/Home/Authority">授权信息</a></li>
                    <li><a href="/Home/Index">系统配置</a></li>
                    <li><a href="/">模型集成</a></li>
                    <li><a href="/Home/Scene">业务场景配置</a></li>



                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            设备管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Home/Scene">运行状态条件</a>
                                <a class="dropdown" href="/Device/DeviceGroup">设备属性信息分组配置</a>
                                <a class="dropdown" href="#">设备列表字段配置</a>
                                <a class="dropdown" href="/Device/GetThresholdList">设备阈值配置</a>
                                <a class="dropdown" href="/Device/ConvertReferenceView">构件格式转换</a>
                            </li>
                        </ul>
                    </li>



                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            二级系统
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown" href="/Home/Scene?Length=4">显示运行参数</a>
                                <a class="dropdown" href="/Home/Scene?Length=4">阈值设置</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/Home/Scene">设备关联关系</a></li>
                    <li><a href="/Weight/Index">温度热力图</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            帮助文档
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown" href="/Help/SystemConfig">系统配置</a>
                                <a class="dropdown" href="/Help/SystemConfig">模型集成</a>
                                <a class="dropdown" href="/Help/SystemConfig">业务场景配置</a>
                                <a class="dropdown" href="/Help/SystemConfig">设备属性信息分组配置</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - 运维数据配置中心</p>
            </footer>*@
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootstrapswitch");*@
    @RenderSection("scripts", required: false)
</body>
</html>
